
$color-primary: #ff3838;
$shadow-primary: #ff383825;
$color-secundary: #f7226a;
$color-alterno: #fff;
$color-text-primary: #fff;
$color-text-secundary: #ccc;
$color-background: #262626;
$color-background-alterno: #3f3f3f;